<!-- @if (offers.length > 0) {
  <section class="offers">
    <h2>Ofertas disponíveis para sua região:</h2>
    <ul>
      @for (offer of offers; track offer) {
        <li>
          {{ offer }}
        </li>
      }
    </ul>
  </section>
} -->

<div class="loading-placeholder" *appShellRender>
  <mat-spinner></mat-spinner>
  <p>Carregando produtos...</p>
</div>

@for (group of productsByCategory; track group.category) {
  <section class="product-category">
    <h2>{{ group.category }}</h2>
    <div class="product-list" *appShellNoRender>
        @for (product of group.products; track product.id) {
          <div class="product-card">
            <app-product-card
              [title]="product.title"
              [price]="product.price"
              [image]="product.image"
              (viewDetails)="goToDetails(product.id)"
            ></app-product-card>
          </div>
        }
    </div> 
  </section>  
}

